lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp


# Dependency directory
node_modules

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*

# ignore package-lock.json
package-lock.json

# ignore ts-node
ts-node

# Ignore image files
public/images/*.jpg
public/images/*.jpeg
public/images/*.png
public/images/*.gif
public/images/*.webp

# Ignore logs
logs/
*.log

# Keep the images directory structure
!public/images/.gitkeep